*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.background{
    width: 100%;
    margin: 30px 0px;
}
.wrap{
    width: 600px;
    margin: 30px 0px;
    margin: auto;
    position: relative;
}

.topic{
    width: 40%;
}
.t-type2{
    margin-left: auto;
}
.topic-title{
    
    font-size: 24px;
    background-color: red;
    color: white;
    line-height: 80px;
}
.num{
    font-size: 80px;
    display: inline-block;
    writing-mode: vertical-rl;
    vertical-align: middle;
}
.topic-text{
    background-color: black;
    color: white;
    padding: 10px;
}
.main-pic{
    width: 80%;
    position: absolute;
    z-index: -1;
    top: 85px;
    right: 40px;
    margin: auto;
}

img{
    width: 100%;
}
.m-type1:after{
    content: " ";
    width: 60px;
    height: 40px;
    background-color: red;
    position: absolute;
    z-index: 1;
    right: -10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.m-type2:after{
    content: " ";
    width: 60px;
    height: 40px;
    background-color: red;
    position: absolute;
    z-index: 1;
    left: -10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.shadow-square{
    width: 40%;
    height: 40%;
    position: absolute;
    z-index: -2;
    background-color: lightgrey;

}
.s-type1{
    top: 20px;
    right: 0px;
}
.detail{
    width: 70%;
    position: relative;

    background-color: lightgrey;
    color: black;
    padding: 20px 15px;
    font-size: 14px;
}
.d-type1{
    top: 70px;
    left: 20px;
}
.detail-title{
    color: red;
    display: inline-block;
}
.redline{
    display: inline-block;
    width: 300px;
    height: 1px;
    vertical-align: middle;
    background-color: red;
}
.detail-text{
    line-height: 20px;
}